services:
  # ---------------------------
  # Airflow Metadata Database
  # ---------------------------
  airflow-db:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - airflow_db:/var/lib/postgresql/data

  # ---------------------------
  # Airflow Webserver
  # ---------------------------
  airflow-webserver:
    image: apache/airflow:2.9.3
    depends_on:
      - airflow-db
    env_file: .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-db:5432/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      SPARK_MASTER_URL: spark://spark-master:7077
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./spark:/opt/airflow/spark
      - ./data:/opt/airflow/data
      - ./sql:/opt/airflow/sql
    ports:
      - "8080:8080"
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create
        --username admin
        --password admin
        --firstname Admin
        --lastname User
        --role Admin
        --email admin@example.com || true &&
      airflow webserver
      "

  # ---------------------------
  # Airflow Scheduler
  # ---------------------------
  airflow-scheduler:
    image: apache/airflow:2.9.3
    depends_on:
      - airflow-db
      - airflow-webserver
    env_file: .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-db:5432/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      SPARK_MASTER_URL: spark://spark-master:7077
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./spark:/opt/airflow/spark
      - ./data:/opt/airflow/data
      - ./sql:/opt/airflow/sql
    command: >
      bash -c "airflow scheduler"

  # ---------------------------
  # Spark Cluster
  # ---------------------------
  spark-master:
    image: apache/spark:3.5.1
    environment:
      - SPARK_MODE=master
    ports:
      - "7077:7077"
      - "8090:8080"
    volumes:
      - ./spark:/opt/spark-apps
      - ./data:/opt/data

  spark-worker:
    image: apache/spark:3.5.1
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077

    volumes:
      - ./spark:/opt/spark-apps
      - ./data:/opt/data

  # ---------------------------
  # Pipeline Target Database (PostgreSQL)
  # ---------------------------
  warehouse-db:
    image: postgres:15
    environment:
      POSTGRES_USER: warehouse
      POSTGRES_PASSWORD: warehouse
      POSTGRES_DB: analytics
    ports:
      - "5433:5432"   # exposed separately from airflow-db
    volumes:
      - warehouse_db:/var/lib/postgresql/data

volumes:
  airflow_db:
  warehouse_db:
